Fabric==1.8.1
HARPy==0.2.0
Jinja2==2.7.2
MarkupSafe==0.21
Pygments==1.6
Sphinx==1.2.2
browsermob-proxy==0.5.0
docutils==0.11
ecdsa==0.10
execnet==1.1
httplib2==0.8
ipython==1.1.0
jira-python==0.13
oauthlib==0.6.0
paramiko==1.12.1
py==1.4.15
py.saunter==0.63
pycrypto==2.6.1
pytest==2.3.5
pytest-marks==0.4
pytest-xdist==1.8
python-dateutil==2.2
readline==6.2.4.1
requests==2.0.1
requests-oauthlib==0.4.0
selenium==2.37.2
six==1.3.0
tlslite==0.4.1
twilio==3.5.1
unittest2==0.5.1
wsgiref==0.1.2
